body {
  margin: 20px;
  padding: 20px;
}

#ctn {
  width: 845px;
  height: 700px;
  overflow: auto;
  position: relative;
  border: 2px solid gray;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.controls ul {
  width: 350px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.controls ul li {
  float: left;
  width: 100px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
  
}

.controls ul li a {
  font-size: 20px;
  color: white;
  display: block;
  padding: 20px;
  background-color: rgb(121, 121, 121);
  cursor: pointer;
  border-bottom: 3px solid white;
}

.controls ul li a:hover {
  color: black;
  background-color: rgb(200, 200, 200);
  border-bottom: 3px solid gray;
}

.controls ul li a.selected {
  color: black;
  background-color: rgb(255, 255, 255);
  border-bottom: 3px solid gray;
}

@media print {

  body {
    margin: 0;
    padding: 0;
  }

  #ctn {
    width: auto;
    height: auto;
    overflow: hidden;
    position: inherit;
    border: none;
  }

  .controls {
    display: none;
  }

}